<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="myModalLabel"><%= @user.name %></h4>
</div>
<div class="modal-body">
  <b>Họ tên: </b><%= @user.name %>
  <hr>
  <b>Email: </b><%= @user.email %>
  <hr>
  <b>Số điện thoại: </b><%= @user.phone %>
  <hr>
  <b>Ngày sinh: </b><%= @user.birth %>
  <hr>
  <b>Nghề nghiệp: </b><%= @user.level %>
  <hr>
  <b>Địa chỉ: </b><%= @user.address %>
</div>
