<% provide :title, "Quản lý người dùng" %>
<h2 style="
    text-align: center;
    font-size: 31px;
    text-transform: uppercase;
    font-weight: bold;
">Quản lý người dùng</h2>
<div class="row">
  <div class="col-sm-4 col-sm-push-8">
    <%= form_tag(admin_users_path, method: :get) do %>
    <div class="col-sm-8">
      <%= text_field_tag :search, params[:search], class: "form-control mr-sm-2" %>
    </div>
    <div class="col-sm-4">
      <%= submit_tag 'Search', class: "btn btn-outline-success my-2 my-sm-0" %>
    </div>
    <% end %>
  </div>
</div>
<div class="container-user">
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Họ tên</th>
        <th scope="col">Ngày sinh</th>
        <th scope="col">Email</th>
        <th scope="col">Số điện thoại</th>
        <th scope="col">Nghệ nghiệp</th>
        <th scope="col">Quản lý</th>

      </tr>
    </thead>
    <tbody>
      <%= render @users %>
    </tbody>
  </table>
  <%= paginate @users%>
</div>
<div id="modal-window" class="modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
