<div class="top">

</div>
<ul id="menu" class="menu">
  <li><%= link_to "Trang chủ", dashboard_path %></li>
  <li><%= link_to "Quản lý người dùng", admin_users_path %></li>
  <li><%= link_to "Quản lý nhu cầu", admin_demands_path %></li>
  <li><%= link_to "Quản lý đăng ký dạy", admin_teach_offers_path %></li>
  <li class="dropdown">
    <%= link_to  "#", class: "dropdown-toggle", data: {toggle: "dropdown"} do %>
    <%= current_user.name %>
    <% end %>
    <ul class="dropdown-menu">
      <li><%= link_to "Thông tin cá nhân", current_user %></li>
      <li><%= link_to "Cài đặt", edit_user_path(current_user) %></li>
      <li>
        <%= link_to "Đăng xuất", logout_path, method: :delete %>
      </li>
    </ul>
  </li>
</ul>
