<div class="top">

</div>
<ul id="menu" class="menu">
  <li><%= link_to "Trang chủ", root_url %></li>
  <li><%= link_to "Giới thiệu", about_path %></li>
  <li><%= link_to "Nhu cầu mới", demands_path %></li>
  <li><%= link_to "Đăng ký nhu cầu", new_demand_path %></li>
  <li><%= link_to "Liên hệ", contact_path %></li>
  <% if logged_in? %>
    <li class="dropdown">
      <%= link_to  "#", class: "dropdown-toggle", data: {toggle: "dropdown"} do %>
        <%= current_user.name %>
      <% end %>
      <ul class="dropdown-menu">
        <li><%= link_to "Thông tin cá nhân", current_user %></li>
        <li><%= link_to "Cài đặt", edit_user_path(current_user) %></li>
        <li><%= link_to "Nhu cầu đăng ký", my_demand_path %></li>
        <li><%= link_to "Đề nghị dạy", teach_offers_path %></li>
        <% if current_user.admin? %>
        <li><%= link_to "Quản lý trung tâm", dashboard_path %></li>
        <% end %>
        <li>
          <%= link_to "Đăng xuất", logout_path, method: :delete %>
        </li>
      </ul>
    </li>
  <% else %>
    <li><%= link_to "Đăng nhập", login_path %></li>
    <li><%= link_to "Đăng Ký", signup_path %></li>
  <% end %>
</ul>
